	// 用户名密码登录
	/**
	 * 用户基本信息
	 */
	const r$CURRENT_SECONDS_UNIX = await(() => {
		const p1 = $1;	// 用户名
		const p2 = $2;	// 密码
		const p3 = ${3:msg.realip};	// ip， 在服务中可以通过msg.realip获得
		return an29('user', p1, p2, p3);
	})();